@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    scroll-behavior: smooth;
}
:root{
   
        --primary-color: rgb(225, 10, 225); /* Purple color */
        --secondary-color: black;
        --text-primary: white;
        --card-color: #07182E;
        --title-color:var(--primary-color);
        --hover-color: #4e5152;
        --font-style: 'Verdana', sans-serif; /* Changed to Verdana */
        --font-style1: 'Impact', cursive; /* Changed to Impact */
        --font-style2: 'Arial', sans-serif; /* Changed to Arial */
    }
    
body{
    margin: 0 auto;
    background: var(--secondary-color)!important;
}
#navigation{
    background-color: var(--title-color);
    position: fixed;
    z-index: 1000; 
    width: 100%;

    .nav-logo {
        width: 120px; /* This will make the width adjust automatically */
        height: 70px; /* Set the desired height */
        margin-right: 15px;
    }
    
    
}
.portfolio-h5,.portfolio-h1, .p-heading, .about-h1,.about-h5{
    font-family: var(--font-style1)
}
#nav-color, #nav-active{
    color: white;
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 500;
}
#nav-color:hover, #nav-active{
    color:var(--text-primary);
}
.nav-logo{
   width: 50%;
}
section{
    min-height: 100%;
    padding: 6rem 8% 5rem;
}
.home-content h3{
    color: var(--text-primary);
    font-size: 30px;
    font-weight: 700;
}
.home-content h3{
    margin-bottom: 1rem;
}
.home-content h1{
    color: var(--title-color);
    font-family: var(--font-style);
    font-weight:700;
    font-size: 50px;
    line-height: 1.3;
}
.glow {
    animation: glow 2s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 20px var(--text-primary);
    }
    
    to {
      text-shadow:0 0 20px var(--secondary-color);
    }
}
.home-content p,.p-title{
    font-family: var(--font-style2);
    color: var(--text-primary);
    font-size: 20px;
    text-align: justify;
}
p{
    line-height: 30px;
    font-size: 18px;
}
.side-panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; /* Change 'left' to 'right' */
    padding: 20px;
    display: flex;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change 'flex-end' to 'flex-start' */
}

.social-media a {
    /* Update any positioning styles if needed */
    margin: 1rem 0 1rem 1rem; /* Adjust the margin as needed */

}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 20px solid var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
    margin: 1rem 1rem 1rem 0;
    text-decoration: none;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--secondary-color);
    color: var(--title-color);
    box-shadow: 0 0 1.1rem var(--text-primary);
}
.picture {
    width: 450px; /* Set the desired width */
    height: 450px; /* Maintain aspect ratio by setting height to auto */
    margin-left: 90px; 
}
.picture-container {
    width: 100%; /* Set the desired width */
    max-width: 600px; /* Set the maximum width */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    overflow: hidden;
    position: relative;
    border-radius: 50%; /* Make it a circle */
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    max-width: 100%; /* Set the maximum width of the image */
    height: auto; /* Maintain aspect ratio by setting height to auto */
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.hero-buttons{
    font-family: var(--font-style2);
}
.hero-btn-1{
    margin-right: 10px!important;
}
.hero-btn-1,.hero-btn-l:hover,.hero-btn-r:hover{
    border-radius: 0!important;
    border-color: var(--title-color)!important;
    outline-color: var(--title-color)!important;
    background-color: var(--title-color)!important;
    color: white!important;
}
.hero-btn-r {
    border-radius: 0!important;
    border-color: var(--title-color)!important;
    color: var(--title-color)!important;
}
.picture{
    max-width: 95%;
}
.typing-text {
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    animation: typing 5s steps(40, end) infinite, text-type 0.75s step-start infinite;
    color: var(--primary-color);
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes text-type {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--title-color);
    }
}
/* Portfolio Section */
.portfolio-h5{
    color: var(--primary-color);
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0;
    opacity: .5;
}
.portfolio-h1{
    color: var(--primary-color);
    font-size: 52px;
    text-align: center;
    margin-bottom: 3%;
}
.portfolio-hr{
    border-top: 2px solid var(--title-color);
    margin-bottom: 5%;
}
.p-heading{
    font-size: 42px;
    color: var(--primary-color);
}
.p-text-1, .p-text-2, .p-text-3{
    padding: 0 5% 0 5%;
    font-size: 20px!important;
}
.row-fix{
    align-items: center;
    row-gap: 5rem;
}
.s-img{
    width: 75%;
}
.p-img1, .p-img2, .p-img3{
    float: left;
}
a.p-link{
    color: var(--title-color);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}
a.p-link:hover{
    color: var(--hover-color)!important;
    text-decoration: underline;
    text-underline-offset: 1px;
}
/* Certificate Section */
.certi-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease;
}
.certi-img:hover{
    position: relative;
    z-index: 1;
    transform:scale(2.7);
}
.certificate-img {
    margin: 0 0 2% 2.5%;
}
.certi-img {
    width: 80%;
    box-shadow: 0 0 1.1rem var(--text-primary);
}
.c-img3,.c-img8{
    margin-top: 25%;
}
.c-img1, .c-img5,.c-img6, .c-img10{
    margin-top: 15%;
}
.cert2{
    visibility: hidden;
    position: fixed;
}
/*Service Section*/
.card {
   
    position:relative!important;
    display:flex;
    place-content: center!important;
    place-items: center!important;
    border-radius: 20px!important;
}
.card-body{
    padding: 2rem!important;
    z-index: 1;
}
.s-icon{
    color:var(--text-primary);
    font-size: 3em;
}
.card-title{
    font-size: 35px;
    margin-top: 1rem;
    font-family: var(--font-style1);
    color: var(--primary-color);
}
.card-text{
    color: var(--text-primary);
    font-family: var(--font-style2);
}
.card::before {
    content: '';
    position: absolute;
    width: 80px;
    align-items: center;
    height: 150%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    border-radius: 15px;
} 
@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.card::after {
    content: '';
    position: absolute;
    background: var(--card-color);
    inset: 5px;
    border-radius: 15px;
    
}  
.card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
}
/* Skill Section*/
.skill-title{
    color: var(--primary-color);
    font-family: var(--font-style1);
    font-size: 20px;
}
.r-skills{
 padding: 0 10% 0 10%;
}
/*About Section*/
.about-h5 {
    color: var(--primary-color);
    font-size: 1.90rem;
    margin-bottom: 0;
    opacity: .5;
    margin-left: 15%;
}

.about-h1 {
    color: var(--primary-color);
    font-size: 52px;
    margin-bottom: 5%; /* Adjust margin-bottom for the about-h1 */
    margin-left: 17%;
}

.ab-img {
    width: 75%;
    margin-top: -5%;
    margin-right: 5%;
    border-radius: 10%; /* Add this to make the image a square */
    background-color: var(--primary-color);
}


.ab-title {
    width: 105%;
}

.about-p {
    color: var(--text-primary);
    font-family: var(--font-style2);
    font-size: 20px;
    text-align: justify;
    margin-top: 10px; /* Adjust margin-top for the about-p */
}

.a-text {
    font-size: 21px;
}

.about-p i {
    color: #B31312;
}

.about-p span {
    color: var(--primary-color);
    font-weight: bolder;
    font-family: var(--font-style);
}

/* CTA Section */
.cta-title{
    color: var(--primary-color);
    font-family: var(--font-style1);
    font-size: 52px;
}
.cta-p{
    color: var(--text-primary);
    font-family: var(--font-style2);
    line-height: 35px;
    font-size: 20px;
}
.cta-title, .cta-p{
    margin-bottom: 2%;
}
.cta-buttons{
    text-align: center;
    font-family: var(--font-style2);
}
/*Footer Section*/
.f-container{
    background: var(--title-color);
    color: var(--text-primary);
}
.f-sec{
    min-height: 100%;
    padding: 2rem 8% 2rem;
}
.footer-img{
    margin-top:20px;
    max-width: 95%;
}
.footer-p{
    margin-top: 15px;
    font-size: 20px;
    padding-left: 6rem;
    font-weight: 400;
}
.icon-color a{
    color: var(--text-primary);
}
.icon-color i{
    font-size: 25px;
    padding: 20% 0 20%;
}
@media only screen and (max-width: 991px) {
    .nav-mob{
        text-align: center;
    }
    #nav-color, #nav-active{
        margin-left: 0;
    }
    .hero-buttons{
        text-align: center;
    }
    .hero-btn-1{
        margin-top: 20px;
    }
    .hero-btn-1 {
        margin-bottom: 20px;
    }
    .side-panel{
        visibility: hidden;
        position:fixed;
    }
    .p-text-1, .p-text-2, .p-text-3 {
        padding: 0 0% 0 0%;
    }
    .cert2{
        visibility:unset;
        position: relative;
    }
    .cert1{
        visibility: hidden;
        position: fixed;
    }
    .card{
        margin-bottom: 25px;  
    }
    .icon-color i{
        font-size: 17px;
        padding: 0;
    }
    .f-sec{
        min-height: 100%;
        padding: 2rem 8% 2rem;
    }
    .footer-img{
        margin-top: 0%;
    }
    .footer-p{
        margin-top: 0%;
        padding-left: 0%;
        font-size: 18px;
    }
}
@media only screen and (max-width: 767px) {
    .ab-img{
        margin-bottom: 25px;
    }
    .s-img{
        float: none;
    }
    .about-h1, .about-h5{
        text-align: center;
        margin-left: 1%;
    }
}
@media only screen and (max-width: 444px) {
    .picture{
        margin-top: 10px;
        margin-right: 5%;
    } 
    
}
@media only screen and (max-width: 400px) {
    .home-content p,.p-title{
        text-align:unset;
    }
    .a-text{
        text-align: unset;
    }
    @media only screen and (max-width: 991px) {
        /* ... other styles ... */
    
        .f-sec {
            min-height: 50%;
            padding: 1rem 8% 1rem; /* Adjust the padding */
        }
    
        .footer-img {
            margin-top: 10px; /* Adjust the margin-top */
            max-width: 30%; /* Adjust the max-width */
        }
    
        .footer-p {
            margin-top: 5px; /* Adjust the margin-top */
            font-size: 16px; /* Adjust the font size */
            padding-left: 3%; /* Adjust the padding-left */
        }
    
        /* ... other styles ... */
    }
    
}
